<%= render "shared/header" %>
<div class="user-edit">
  <div class="user-edit_main">
  <h1 class="user-edit-title">EDIT MY PAGE</h1>
    <div class="user-edit__form">
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render "shared/error_messages", model: f.object %>

        <div class="user_edit_field">
          <p class="edit_name">メールアドレス</p>
          <%= f.email_field :email, class: "edit_email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="user_edit_field">
          <p class="edit_name">ニックネーム</p>
          <%= f.text_field :nickname, class: "edit_nickname", maxlength: "20" %>
        </div>

        <div class="user_edit_field">
          <p class="edit_name">プロフィール(150字まで)</p>
          <%= f.text_area :profile, class: "edit_form_text" ,maxlength:"150" %>
        </div>

        <div class="user_edit_actions">
          <%= f.submit "編集完了", class: :edit_form_btn %>
        </div>
      <% end %>
    </div>
  </div>
    <div class="return-page">
    <%= link_to "戻る", user_path(@user.id), class: "return_page" %>
    </div>
</div>
<%= render "shared/footer" %>