<%= render "shared/header" %>
<div class="user_page">
  <div class="user_page_main">
    <div  class="user_page_head">
      <p class="user_name">
        <%= @user.nickname %>
      </p>
      <div class="user_profile_contets">
        <ul class="user_profile">
            <li>フォロワー数：<%= @user.followers.count %></li>
            <li>投稿数：<%= @user.posts.count %></li>
            <li>プロフィール：<%= @user.profile %></li>
        </ul>
        <%#編集ボタンの設置%>
        <% if user_signed_in? && current_user.id == @user.id %>
          <div class="user_edit_button"> 
          <%= link_to "編集する",edit_user_path(@user.id) %>
          </div>
        <% end %>
        <%#編集ボタンの設置%>
        <%#フォローボタンの設置%>
          <% if user_signed_in? && current_user != @user %>
          <div class="user_follow">
            <% if @user.followed_by?(current_user) %>
              <%= link_to "フォロー中", user_relationship_path(@user.id), class: "follow_btn", method: :delete %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(@user.id), class: "follow_btn", method: :post %>
            <% end %>
          </div>
          <% end %>  
        <%#//フォローボタンの設置%>
      </div>
    </div>
    <%#ユーザー投稿一覧%>
    <p class="user_post"><%= "#{@user.nickname}さんの投稿" %></p>
    <div class="user_page_row">
      <div class="user_post_list">
        <% @posts.each do |post| %>
        <div class="user_post__lists">
          <%= link_to post_path(post.id) do %>
          <p class="user_post_img">
          <%= image_tag post.image.variant(resize: '300x300') %>
          </p>
          <p class="user_post_title">タイトル：
          <%= link_to post.title, post_path(post.id) %>
          </p>
          <p class="user_post_category">カテゴリー：
          <%= post.category.name %>
          </p>
          <% end %>
          <p class="user_post_created_at">投稿日：
          <%= post.created_at.strftime("%Y-%m-%d") %>
          </p>
        </div>
        <% end %>
      </div>
    </div>
    <%#ユーザー投稿一覧%>
    <%= link_to "Topへ戻る", root_path, class: "return_top" %>
  </div>
</div>
<%= render "shared/footer" %>
