<div class="main_contents">
  <h2 class="page-heading">
  <%= "#{@user.nickname}さんの情報" %>
  </h2>

  <% if user_signed_in? && current_user.id == @user.id %>
    <%= link_to "編集する",edit_user_path(@user.id) %>
  <% end %>
  
  <table class="profile_main">
    <tbody>
      <tr>
        <th class="table__col1">ニックネーム</th>
        <td class="table__col2"><%= @user.nickname %></td>
      </tr>
      <tr>
        <th class="table__col1">プロフィール</th>
        <td class="table__col2"><%= @user.profile %></td>
      </tr>
    </tbody>
  </table>
  <h2 class="page-heading">
    <%= "#{@user.nickname}さんの投稿一覧" %>
    <% @posts.each do |post| %>
    <div class="user_post">
      <%= link_to post_path(post.id) do %>
      <%= image_tag post.image.variant(resize: '300x300'), class: 'post-image' %>
      <% end %>
      <div class="post-body">
      <%= link_to post.title, post_path(post.id), class: :post__title %>
      <p class="post-category">
      <%= post.category.name %>
      </p>
    </div>
    <% end %>
  </h2>

  <%= link_to "Topへ戻る", root_path %>

</div>
