<body class="index-main">
  <%= render "shared/header" %>
  <!--ヘッダーサブ-->
  <div class="second-header">
    <div class ="subtitle">
      <h1 class="sub-main-title">Find your special trip</h1>
      <p class="sub-second-title">あなたにピッタリの旅を見つけませんか？</p>
    </div>

    <div class="search-bar">
      <div class="search-bar-inner">
        <div class="search-field">
        <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |f|%>
        <%= f.text_field :keyword, placeholder: "投稿を検索する", size: "100", class: "search-input" %>
        </div>
      </div>
      <div class="search-action">
        <%= f.submit "検索", class: "search-btn" %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
  <!--ヘッダーサブ-->

  <!--人気投稿-->
  <div class="posts-row">
    <ul class="posts-list">
      <% @posts.each do |post| %>
      <li class="list">
        <%= link_to post_path(post.id) do %>
        <div class="post-img">
        <%= image_tag post.image.variant(resize: '300x300'), class: 'post-image' %>
        </div>
        <div class="post-info">
          <div class="post-title">
          <%= post.title %>
          </div>
          <div class="post-category">
          <%= post.category.name %>
          </div>
        </div>
        <% end %>
        <div class="post-user">
        <%= link_to "投稿者:#{post.user.nickname}", user_path(post.user), class: :post__user %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <!--人気投稿-->
  <!--投稿一覧-->
  <div class="posts-row">
    <ul class="posts-list">
      <% @posts.each do |post| %>
      <li class="list">
        <%= link_to post_path(post.id) do %>
        <div class="post-img">
        <%= image_tag post.image.variant(resize: '300x300'), class: 'post-image' %>
        </div>
        <div class="post-info">
          <div class="post-title">
          <%= post.title %>
          </div>
          <div class="post-category">
          <%= post.category.name %>
          </div>
        </div>
        <% end %>
        <div class="post-user">
        <%= link_to "投稿者:#{post.user.nickname}", user_path(post.user), class: :post__user %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <!--投稿一覧-->
  <%= render "shared/footer" %>
</body>
