<%= render "shared/header" %>
<div class="top_main">
  <!--ヘッダーサブ-->
  <div class="second_header">
    <div class ="subtitle">
      <h1 class="sub-main-title">Find your special trip</h1>
      <p class="sub-second-title">あなたにピッタリの旅を見つけませんか？</p>
    </div>

    <div class="search-bar">
      <div class="search-bar-inner">
        <div class="search-field">
        <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |f|%>
        <%= f.text_field :keyword, placeholder: "投稿を検索する", size: "100", class: "search-input" %>
        </div>
      </div>
      <div class="search-action">
        <%= f.submit "検索", class: "search-btn" %>
        <% end %>
      </div>
      </div>
    </div>
  </div>

  <div class="posts_main">
    <div class="posts_lists">
      <% @posts.each do |post| %>
      <div class="post_list">
        <%= link_to post_path(post.id) do %>
          <div class="post_img">
            <%= image_tag post.image, class: 'post-image' %>
          </div>
          <div class="post_list_text">
            <p class="post_title">
              タイトル：<%= post.title %>
            </p>
            <p class="post_category">
              カテゴリー：<%= post.category.name %>
            </p>
        <% end %>
          <p class="post_nickname">
            投稿者：<%= link_to "#{post.user.nickname}", user_path(post.user) %>
          </p>
          <p class="post_created_at">
            投稿日：<%= post.created_at.strftime("%Y-%m-%d") %>
          </p>
          </div>
      </div>
      <% end %>
    </div>
  </div>
  <!--投稿一覧-->
</div>
<%= render "shared/footer" %>

