<%= render "shared/header" %>
<div class="top_main">
  <div class="header_contents">
  <!--セカンドヘッダー-->
    <div class ="subtitle">
      <h1 class="subtitle_main">Find your special trip</h1>
      <p class="subtitle_second">あなたにピッタリの旅を見つけませんか？</p>
    </div>
    <!--検索バー-->
    <div class="search-bar">
      <%= search_form_for Post.ransack(params[:q]), url: search_posts_path, html: { class: "top-search-form"} do |f| %>
        <%= f.text_field :title, placeholder: 'タイトルから探す', class: 'top-input-box' %>
        <br>
        <%= f.label :submit, class: "top-search-button" do %>
          <input type="submit" value="検索" class="top-search-send">
          <%= f.submit :submit, id: "q_submit", style: "display: none;" %>
        <% end %>
      <% end %>
    </div>
    <!--検索バー-->
  </div>
  <!--セカンドヘッダー-->
  <div class="posts_main">
    <div class="posts_lists">
      <% @posts.each do |post| %>
      <div class="post_list">
        <%= link_to post_path(post.id) do %>
          <div class="post_img">
            <%= image_tag post.image, class: 'post-image' %>
          </div>
          <div class="post_list_text">
            <p class="post_title">
              タイトル：<%= post.title %>
            </p>
            <p class="post_category">
              カテゴリ：<%= post.category.name %>
            </p>
        <% end %>
          <p class="post_nickname">
            投稿者　：<%= link_to "#{post.user.nickname}", user_path(post.user) %>
          </p>
          <p class="post_created_at">
            投稿日：<%= post.created_at.strftime("%Y-%m-%d") %>
          </p>
          </div>
      </div>
      <% end %>
    </div>
  </div>
  <!--投稿一覧-->
  <%= render "shared/footer" %>
</div>
