<%= render "shared/header" %>
<div class="post-search-contents" id ="detailed-search-result-wrapper">
  <%= search_form_for @q, url: search_posts_path, html: {id: "detailed-search-form"}, class: "search-form" do |f| %>
  <h2 class="search-form-title">Find your special trip</h2>
    <div class="search-field">
      <%= f.label :title, 'タイトル', class: "search-name" %>：
      <%= f.text_field :title, class: "search-title", placeholder: 'タイトルから検索', value: params[:q]&.dig(:title) %>
    </div>
    <div class="search-field">
      <%= f.label :tags_tag_name_cont, 'タグ', class: "search-name" %>　　：
      <%= f.text_field :tags_tag_name_cont, class: "search-title", placeholder: 'タグから検索' %>
    </div>
    <div class="search-field">
      <%= f.label :category_id_in, 'カテゴリ', class: "search-name" %>：
      <%= f.collection_check_boxes(:category_id_in, Category.all, :id, :name) %>
    </div>
    <div class="search-field">
      <%= f.label :budget_gteq, '予算', class: "search-name" %>　　：
      <%= f.number_field :budget_gteq %> 円以上、<%= f.number_field :budget_lteq %> 円以下
    </div>
    <div class="search-field">
      <%= f.label :opening_hour_id_in, '営業時間', class: "search-name" %>：
      <%= f.collection_check_boxes(:opening_hour_id_in, OpeningHour.all, :id, :name) %>
    </div>
    <div class="search-field">
      <%= f.label :area_id_in, 'エリア', class: "search-name" %>　：
      <%= f.collection_check_boxes(:area_id_in, Area.all, :id, :name) %>
    </div>
    <div class="search-send-button">
      <%= f.submit '検索', class: "search-send"%>
    </div>
  <% end %>
</div>
  <div class="search_main">
    <div class="search-lists">
      <% @posts.each do |post| %>
      <div class="search-result-list">
        <%= link_to post_path(post.id) do %>
          <div class="posted__img">
            <%= image_tag post.images[0], class: 'posted-image' %>
          </div>
          <div class="posted_list_text">
            <p class="posted_title">
              タイトル：<%= post.title %>
            </p>
            <p class="posted_category">
              カテゴリ：<%= post.category.name %>
            </p>
        <% end %>
            <p class="posted_budget">
              　：予　算　：<%= post.budget %>円
            </p>
            <p class="posted_created_at">
              投稿日：<%= post.created_at.strftime("%Y-%m-%d") %>
            </p>
          </div>
      </div>
      <% end %>
    </div>
    <h3 class="back-top"><%= link_to 'Topへ戻る', root_path %></h3>
  </div>

<%= render "shared/footer"%>