<%= render "shared/header" %>
<div class="post-search-contents" id ="detailed-search-result-wrapper">
  <%= search_form_for @q, url: search_posts_path, html: {id: "detailed-search-form"}, class: "search-form" do |f| %>
  <h2 class="search-form-title">詳細検索</h2>
    <div class="search-field">
      <%= f.label :title, 'タイトル', class: "search-name" %>：
      <%= f.text_field :title, class: "search-title", placeholder: 'タイトルから検索', value: params[:q]&.dig(:title) %>
    </div>
    <div class="search-field">
      <%= f.label :category_id_in, 'カテゴリ', class: "search-name" %>：
      <%= f.collection_check_boxes(:category_id_in, Category.all, :id, :name) %>
    </div>
    <div class="search-field">
      <%= f.label :budget_id_in, '予算', class: "search-name" %>　　：
      <%= f.collection_select(:budget_id_in, Budget.all, :id, :name, {include_blank: "-----"}) %>
    </div>
    <div class="search-field">
      <%= f.label :opening_hour_id_in, '営業時間', class: "search-name" %>：
      <%= f.collection_check_boxes(:opening_hour_id_in, OpeningHour.all, :id, :name) %>
    </div>
    <div class="search-send-button">
      <%= f.submit '検索', class: "search-send"%>
    </div>
  <% end %>

  <ul class="search-lists", id="detailed-search-result">
    <% @posts.each do |post| %>
      <li class="search-result-list">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.image, class: "posted-image" %><br>
          <p class="posted-text">
          タイトル：<%= post.title %><br>
          カテゴリ：<%= post.category.name %><br>
        <% end %>
          投稿者　：<%= link_to "#{post.user.nickname}", user_path(post.user) %>
          </p>
          <p class="posted-date">投稿日：<%= post.created_at.strftime("%Y-%m-%d") %></p>
      </li>
    <% end %>
  </ul>
  <h3 class="back-top"><%= link_to 'トップページへ戻る', root_path %></h3>
  <%= render "shared/footer"%>
</div>