<%= render "shared/header" %>
<div class="post_show">
  <div class="post_shows">
    <div class="post_shows_main">    
      <div class="other-images">
        <%= image_tag @post.images[0], class: "post-show-img" %>
        <% @post.images[1..-1].each do |image| %>
            <%= image_tag image, class: "post-show-img" %>
        <% end %>
      </div>
      <div class="post_text_main">      
        <div class="post_shows_title">
          <%= @post.title %>
        </div>
        <div id="like-btn<%= @post.id %>">
          <%= render partial: "likes/like", locals: {post: @post} %>
        </div>
        <div class="post_show_foot_field">
          投稿者：<%= link_to "#{@post.user.nickname}", user_path(@post.user) %>
        </div>
        <ul class="post_text__contents">
          <li class="post_shows_field">
            カテゴリー：<%= @post.category.name %>
          </li>

          <li class="post_shows_field">
            予算：<%= @post.budget %> 円
          </li>

          <li class="post_shows_field">
            営業時間：<%= @post.opening_hour.name %>
          </li>

          <li class="post_shows_field">
            エリア：<%= @post.area.name %>
          </li>

          <li class="post_shows_field">
            住所：<%= @post.address %>
          </li>
        </ul>
          <div class="post_shows_text_field">
            <p class="post_show_text">
            <%= @post.text %>
            </p>
          </div>
          <ul class="post_show_foot">
            <li class="post_show_foot_field">
            投稿日：<%= @post.created_at.strftime("%Y-%m-%d") %>
            </li>
            <li class="post_show_foot_field">
              ＃<%= @post.tags.first&.tag_name %>
            </li>
          </ul>
      </div>
    </div>
    <div class="post_manage">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class= "post_manage_btn">
        <%= link_to "編集", edit_post_path(@post.id), class: "manage-btn" %>
        </div>
        <div class="post_manage_btn">
        <%= link_to "削除", post_path(@post.id), method: :delete, class: "manage-btn" %>
        </div>
      <% end %>
    </div>
    <div class="comment_main">
      <div class="comment-form">
        <% if user_signed_in? %>
          <%= form_with model: [@post, @comment], id: "comment-form", local: true do |f| %>
            <div class="comment_field">
              <h2 class="user_comment">コメントする</h2>
              <%= f.text_area :text, class: "comment-text" %>
            </div>
            <div class="comment_action">
              <%= f.submit "送信", class: "comment-btn" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="comments_result_main">
      <h2 class="user_comment">コメント一覧</h2>
        <div id="comments", class="comment_result">
          <% @post.comments.each do |comment| %>
            <div class="user_comment_text">
              <p><%= link_to comment.user.nickname, user_path(comment.user) %>:<%= comment.text%></p>
            </div>
            <br />
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="post_show_btn">
    <%= link_to 'Topへ戻る', root_path, class: "back_btn" %>
  </div>
</div>
<%= render "shared/footer" %>

